body {
  font-family:'Arial', 'Helvetica', 'Sans-Serif';
  font-weight: 300;
  background-color: #e3e3e3;
}
.page-container {
  background-color: #e3e3e3;
}
.content-wrap {
  background-color: #e3e3e3;
}


li{
    margin-top: 12px;
}
h2 {
  color: #467AAA;
}
h3 {
  font-weight: 400;
  color: #467AAA;
  margin-top: 36px;
}
h4 {
  color: #303030;
}
pre code {
  background-color: #F0F0F0;
  border: 1px solid #999;
  display: block;
  padding: 1px;
  font-family: "Lucida Console", Monaco, monospace;
  color: #404040;
  font-size: 14px;
  line-height: 1.5em;
}
  
p.bookmark { 
  background: yellow;
}
p.thick {
  font-weight: bold;
}
.sidenav {
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 115px;
  left: 12px;
  background: #467AAA;
  overflow-x: hidden;
  padding: 8px 0;
  border: 1px solid;
  color: white;
  padding: 8px 0px;
  box-shadow: 3px 3px #888888;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family:'Arial', 'Helvetica', 'Sans-Serif';
  font-weight: 500;
  color: #fff;
  display: block;
}
.sidenav a:hover {
  color: #ddd;
}
.topnav {
  width:100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: #467AAA;
  /*  overflow-x: hidden; */
  padding: 0px 0;
  overflow: hidden;
    /*  background-color: #DCDCDC; 555555*/
}
.topnav a {
  float: left;
  /*  color: #f2f2f2; */
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.topnav h1 {
  font-family:'Arial', 'Helvetica', 'Sans-Serif';
  float: left;
  /*  color: #467AAA; */
  color: white;
  text-align: center;
  padding: 2px 126px 2px 194px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 200;
}
.main {
  margin-left: 176px; /* Same width as the sidebar + left position in px */
  margin-top: 115px;
  font-size: 16px;
  padding: 0px 10px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   /*background-color: #234a71;*/
   background-color: #467AAA;
   color: white;
   text-align: center;
   font-size: 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}
